*{
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 80;
    height: 80px;
    background-color: rgb(3, 75, 41);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.container {
    background-color: rgb(0, 26, 12);
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(6, 109, 61);
}

button:active {
    background-color: rgb(9, 143, 80);
}

#display {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgb(0, 26, 12);
    border: none;
    font-size: 4rem;
    text-align: right;
}

.operators {
    background-color: rgb(87, 3, 28);
}

.operators:hover {
    background-color: rgb(117, 5, 39);
}

.operators:active {
    background-color: rgb(156, 7, 52);
}